# Dependencies
node_modules/

# Environment Variables (Secrets)
.env

# Firebase Keys (VERY IMPORTANT)
serviceAccountKey.json

# Local Database
varshini.db
*.sqlite

# Logs
*.log
logs/

# OS Generated
.DS_Store
Thumbs.db
